@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.navbar {
  background: transparent;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: 200ms ease-in-out;
}

.navbar.active {
  background: rgb(238, 176, 134);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: white;
  cursor: pointer;
  height: 2px;
  width: 2em;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
.social-list {
  display: flex;
}
.social-list a {
  font-size: 1.5rem;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-container {
  text-align: end;
  margin: 1rem 1rem 0 0;
  max-width: 80%;
}

.title-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 2rem;
  font-family: "Bad Script", cursive;
  text-decoration: none;
  font-weight: 00;
  color: white;
  min-width: 430px;
}

.title:hover {
  color: black;
  transition: ease-in-out 750ms;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
  position: relative;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.dropdown {
  display: flex;
  flex-direction: column;
  display: absolute;
  margin-top: 0.2rem;
  margin-left: 0;
  padding-left: 0;
  align-items: start;
  position: absolute;
}
.dropdown-item {
  display: none;
}

.dropdown-start:hover ul .dropdown-item {
  display: block;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1110px) {
  .nav-toggle-label {
    display: none;
  }

  .title-buttons-container {
    display: flex;
    justify-content: space-evenly;
  }

  .title {
    font-size: 2rem;
    text-align: start;
  }

  .title-container {
    margin: 1rem 0 0 5rem;
    display: flex;
  }

  .button-container {
    margin-right: 3.5rem;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin: 0 0 0 3em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    top: -0.1em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
